html, body, div {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
}

body {
    background: rgb(0,0,0);
}

button {
    padding: 15px 15px;
    border: none;
    color: rgb(255,255,255);
}

.container {
    display: flex;
    justify-content: center;
}

