html, body, div {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

button {
    border: none;
    padding: 15px 15px;
}

.container {
    display: flex;
    justify-content: center;
}

